# Ignore the virtual environment directory
/pythonapp/Ethenv/
C:\Users\ethio\Desktop\Tenx.AIM2\Week0\ETtask\W01Test01Eth\notebooks\sierraleone-bumbuna.csv
notebooks/benin-malanville.csv
notebooks/cleaned_data_file_benin.csv

