# Ignore the virtual environment directory
/pythonapp/Ethenv/


        notebooks/cleaned_data_file_sierraleeone.csv
        notebooks/sierraleone-bumbuna.csv
        notebooks/togo-dapaong_qc.csv
        notebooks/togo-dapaong_qc.csv
        notebooks/cleaned_data_file_sierraleeone.csv
        notebooks/cleaned_data_file_benin.csv
        notebooks/benin-malanville.csv